/* Coolors Exported Palette - https://coolors.co/8f97a6-e8e4e1-1d2331-171c28-4c6580-4b79aa-6ba3ea-92b5ec */

/* CSS HEX */
--manatee: #8f97a6ff;
--platinum: #e8e4e1ff;
--raisin-black: #1d2331ff;
--raisin-black-2: #171c28ff;
--dark-electric-blue: #4c6580ff;
--blue-yonder: #4b79aaff;
--little-boy-blue: #6ba3eaff;
--french-sky-blue: #92b5ecff;

/* CSS HSL */
--manatee: hsla(219, 11%, 61%, 1);
--platinum: hsla(26, 13%, 90%, 1);
--raisin-black: hsla(222, 26%, 15%, 1);
--raisin-black-2: hsla(222, 27%, 12%, 1);
--dark-electric-blue: hsla(211, 25%, 40%, 1);
--blue-yonder: hsla(211, 39%, 48%, 1);
--little-boy-blue: hsla(214, 75%, 67%, 1);
--french-sky-blue: hsla(217, 70%, 75%, 1);

/* SCSS HEX */
$manatee: #8f97a6ff;
$platinum: #e8e4e1ff;
$raisin-black: #1d2331ff;
$raisin-black-2: #171c28ff;
$dark-electric-blue: #4c6580ff;
$blue-yonder: #4b79aaff;
$little-boy-blue: #6ba3eaff;
$french-sky-blue: #92b5ecff;

/* SCSS HSL */
$manatee: hsla(219, 11%, 61%, 1);
$platinum: hsla(26, 13%, 90%, 1);
$raisin-black: hsla(222, 26%, 15%, 1);
$raisin-black-2: hsla(222, 27%, 12%, 1);
$dark-electric-blue: hsla(211, 25%, 40%, 1);
$blue-yonder: hsla(211, 39%, 48%, 1);
$little-boy-blue: hsla(214, 75%, 67%, 1);
$french-sky-blue: hsla(217, 70%, 75%, 1);

/* SCSS RGB */
$manatee: rgba(143, 151, 166, 1);
$platinum: rgba(232, 228, 225, 1);
$raisin-black: rgba(29, 35, 49, 1);
$raisin-black-2: rgba(23, 28, 40, 1);
$dark-electric-blue: rgba(76, 101, 128, 1);
$blue-yonder: rgba(75, 121, 170, 1);
$little-boy-blue: rgba(107, 163, 234, 1);
$french-sky-blue: rgba(146, 181, 236, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #8f97a6ff, #e8e4e1ff, #1d2331ff, #171c28ff, #4c6580ff, #4b79aaff, #6ba3eaff, #92b5ecff);
$gradient-right: linear-gradient(90deg, #8f97a6ff, #e8e4e1ff, #1d2331ff, #171c28ff, #4c6580ff, #4b79aaff, #6ba3eaff, #92b5ecff);
$gradient-bottom: linear-gradient(180deg, #8f97a6ff, #e8e4e1ff, #1d2331ff, #171c28ff, #4c6580ff, #4b79aaff, #6ba3eaff, #92b5ecff);
$gradient-left: linear-gradient(270deg, #8f97a6ff, #e8e4e1ff, #1d2331ff, #171c28ff, #4c6580ff, #4b79aaff, #6ba3eaff, #92b5ecff);
$gradient-top-right: linear-gradient(45deg, #8f97a6ff, #e8e4e1ff, #1d2331ff, #171c28ff, #4c6580ff, #4b79aaff, #6ba3eaff, #92b5ecff);
$gradient-bottom-right: linear-gradient(135deg, #8f97a6ff, #e8e4e1ff, #1d2331ff, #171c28ff, #4c6580ff, #4b79aaff, #6ba3eaff, #92b5ecff);
$gradient-top-left: linear-gradient(225deg, #8f97a6ff, #e8e4e1ff, #1d2331ff, #171c28ff, #4c6580ff, #4b79aaff, #6ba3eaff, #92b5ecff);
$gradient-bottom-left: linear-gradient(315deg, #8f97a6ff, #e8e4e1ff, #1d2331ff, #171c28ff, #4c6580ff, #4b79aaff, #6ba3eaff, #92b5ecff);
$gradient-radial: radial-gradient(#8f97a6ff, #e8e4e1ff, #1d2331ff, #171c28ff, #4c6580ff, #4b79aaff, #6ba3eaff, #92b5ecff);